html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

.footer {
  background-color: #272D2D;
  color: #c8dbdb;
  padding: 2rem;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}